<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
<!--                        <class name="com.g5.testcases.TestCreatePlan"/>-->
            <!--            <class name="com.g5.testcases.TestRegisterUser"/>-->
                                    <class name="com.g5.testcases.TestUpdateUserData"/>
        </classes>
    </test>
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--                        <class name="com.g5.testcases.TestCreatePlan"/>-->
            <!--            <class name="com.g5.testcases.TestRegisterUser"/>-->
                        <class name="com.g5.testcases.TestUpdateUserData"/>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="edge"/>
        <classes>
<!--                        <class name="com.g5.testcases.TestCreatePlan"/>-->
            <!--            <class name="com.g5.testcases.TestRegisterUser"/>-->
                                    <class name="com.g5.testcases.TestUpdateUserData"/>
        </classes>
    </test>
</suite>
